/* Sticky footer styles
----------------------------------------------------------*/
html, body {
    height: 100%;
}
/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}
/* Set the fixed height of the footer here */
#footer {
    height: 60px;
	background-color: #F8F8F8;
	border-color: #E7E7E7;
}
#footer p {
	margin: 20px 0;
}

/* app specific css */
body {
	padding-top: 60px; /*Fixed to top navbar*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}

.front-page-box {
	margin-top: 20px;
	margin-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 24px;
    padding-bottom: 24px;
    border-radius: 6px;
    background-color: #EEE;
}

.last {
	margin-bottom: 40px;
}

.opening-hours {
	/*max-width: 50%;
	margin: auto;*/
}

.opening-hours th {
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

dd {
	margin-bottom: 20px;
}

.navbar-brand {
	margin-left: -15px;
}
@media (min-width: 768px) {
	.navbar-brand {
		display: none;
	}
}

.logo {
	float: left;
	margin-top: 15px;
	margin-right: 15px;
	margin-left: 15px;
}

/* index.html specific */
#backgroundimage {
	background-image: url(../images/background/herrenmode.jpg);
}
#lastParagraph {
	margin-bottom: 30px;
}

/*
 * Image slider
 */

.sImgContainer {
  max-height: 350px;
  max-width: 525px;
  position: relative;
  display: block;
  height: auto;
  width: auto;
  margin: 0 auto;
}

.sImg {
  height: auto;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s;
}

#sImgNavHolderO {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: none;
}

.sImgNavHolderI {
  position: relative;
  margin: 0 10px 0 auto;
  width: 60px;
}

.sImgNav {
  height: 6px;
  width: 6px;
  border-radius: 6px;
  background: #fff;
  float: left;
  margin: 3px;
  opacity: 0.5;
  transition: opacity 1s;
}

.sImgFirst {
  opacity: 1;
  position: static;
}

.sImgNavFirst {
  opacity: 1;
}

